# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vs
.vs/

# Project Client
Client/Bin/Client.exe
Client/Bin/Client.pdb
Client/Bin/Client.dll

# Project Engine
Engine/Bin/Engine.dll
Engine/Bin/Engine.exp
Engine/Bin/Engine.lib
Engine/Bin/Engine.pdb

# Project EngineSDK
EngineSDK/

# Project x64 Folder
Engine/Default/x64/
Client/Default/x64/
x64/

